# Java
*.class
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
build/**
nbproject/build-impl.xml
nbproject/private/

# Eclipse
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db

# IDE caches
*.iml
.idea/
